<!DOCTYPE html>
<html>
<!-- <head>
  <style>
    
  </style>
</head>   -->
<body>
  <br>
  <h4 align="center">Employee Management System</h4>
  <br>
  <div class="image-container">
    <img src="assets/Employee.jpg" alt="Image">
  </div>

  <div class="content">
    <h1>About</h1>
    <p>The Employee Management System is a web-based application that simplifies HR processes within organizations. It centralizes employee records, automates leave and attendance management, tracks performance, assigns tasks, manages documents, facilitates employee communication, and provides reporting capabilities. It streamlines employee information storage and management. Leave and attendance processes are automated, enabling easy request submission and approval. Performance tracking helps evaluate employee progress. Task assignment and tracking enhance collaboration and productivity. Document management ensures easy access to important files. Integrated communication tools foster teamwork. Reporting and analytics provide insights for decision-making. The system optimizes HR operations and boosts organizational efficiency.</p>
  </div>
</body>
</html>
